
@{
    ViewBag.Title = "OjayFood: Order Submitted";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Thanks for placing your order. We'll ship your goods as soon as possible.</h2>

<h3>Select to make your payment</h3>




